################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OnlineStudyV2/.vs/OnlineStudyV2
